/* .manage-issues {
  padding: 2rem;
}

.manage-issues table {
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: collapse;
}

.manage-issues th,
.manage-issues td {
  padding: 0.9rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.manage-issues th {
  background: #f3f4f6;
  font-weight: 600;
} */
